<div class="contents row">
 
  <div class="container">
    <h2>投稿する</h2>
    <div class="content">
      <%= form_with(model: @tweet, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
    <div class="img-upload">
      <label class="form-image">
      <%= f.file_field :image,class:"image-default",id:'tweet_image' %>
      <span class="image-file">投稿画像を選択</span>
      <input type="file" class="hidden">
      </label>
      <div id="image-list"></div>
    </div>

    <div class="tweets-title">
      <%= f.text_field :title, placeholder: "タイトル" %>
    </div>

    <div class="tweets-explain">
      <%= f.text_area :explain, placeholder: "text", rows: "10" %>
    </div>

    <div class="tweets-category">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"tweet-category"}) %>
    </div>

    <div class="tweets-prefecture">
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"tweet-prefecture"}) %>
    </div>

     <div class="tweets-city">
      <%= f.text_field :city, placeholder: "市町村" %>
    </div>

    <div class="tweets-house_number">
      <%= f.text_field :house_number, placeholder: "番地" %>
    </div>

    <div class="actions">
    <input type="submit" value="投稿"name="tweetpost" class="button">
    </div>
    <% end %>
    </div>
  </div>
</div>