<div class="tweet-show">
  <div class="tweet-box">
    
    <h2 class="title">
      <%= @tweet.title %>
    </h2>
    <div class="tweet-img">
      <%= image_tag @tweet.image.variant(resize: '500x500'), class:"tweet-box-img" %>
    </div>
    <div class="tweet-expalin">
      <%= @tweet.explain %>
    </div>
    <div class="tweet-category">
      <%= @tweet.category.name %>
    </div>
    <div class="tweet-prefecture">
      <%= @tweet.prefecture.name %>
    </div>
    <div class="tweet-city">
      <%= @tweet.city %>
    </div>
    <div class="tweet-house_number">
      <%= @tweet.house_number %>
    </div>

    <% if user_signed_in? && current_user == @tweet.user %>
      <%= link_to '編集', edit_tweet_path, method: :get, class: "tweet-red-btn" %>
      <%= link_to '削除', tweet_path(@tweet.id), method: :delete, class: "tweet-red-btn" %>
    <% end %>
    
  </div>
</div>