<div class="tweet-show">
  <div class="tweet-box">
    <% if user_signed_in? && current_user == @tweet.user %>
     <div id="wrapper">
        <p class="btn-gnavi">
          <span></span>
          <span></span>
          <span></span>
        </p>
        <nav id="tweet-navi">
          <ul class="menu">
            <li><%= link_to '一覧に戻る', root_path, class: "a" %></li>
            <li><%= link_to '編集', edit_tweet_path, method: :get, class: "a" %></li>
            <li><%= link_to '削除', tweet_path(@tweet.id), method: :delete, class: "tweet-red-btn" %></li>
          </ul>
        </nav>
      </div>
    <% end %>
    <h2 class="title">
      <%= @tweet.title %>
    </h2>  
    <div class="tweet-img">
      <%= image_tag @tweet.image, class:"tweet-box-img" %>
    </div>
    <div class="tweet-table">
    <table>
      <tr>
        <th class="tweet-expalins">詳細</th>
        <th class="tweet-expalin"><%= @tweet.explain %></th>
      </tr>
      <tr>
        <th class="tweet-categorys">カテゴリー</th>
        <th class="tweet-category"><%= @tweet.category.name %></th>
      </tr>
      <tr>
        <th class="tweet-prefectures">都道府県</th>
        <th class="tweet-prefecture"><%= @tweet.prefecture.name %></th>
      </tr>
      <tr>
        <th class="tweet-citys">市町村</th>
        <th class="tweet-city"><%= @tweet.city %></th>
      </tr>
      <tr>
        <th class="tweet-house_numbers">番地</th>
        <th class="tweet-house_number"><%= @tweet.house_number %></th>
      </tr>
    </table>
    </div>
    <% if @tweet.image.metadata[:latitude].present? && @tweet.image.metadata[:longitude].present? %>
    <div class="map-select">
      <%= link_to '画像から検索',atlas_tweet_path, class: "button" %>
    </div>
    <% end %>
    <div class="map-select">
      <%= link_to '住所から検索',seek_tweet_path, class: "button" %>
    </div>
  </div>
  <div class="tweet-comments">
    <% if user_signed_in? %>
      <%= form_with(model:[@tweet, @comment], local: true) do |f| %>
        <div class="comment-area">
        <%= f.text_area :text, placeholder: "コメントする", rows: "3", cols: "100" %>
        </div>
        <div class="actions">
          <input type="submit" name="commentpost" value"送信" class="button">
        </div>
      <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comment">
      <h2>＜コメント一覧＞</h2>
      <% if @comments %>
        <% @comments.each do |comment|%>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}"%>:</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
